<a href="https://colab.research.google.com/github/bongminyoon/bong/blob/main/240902_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#변수에 '철수'를 담기
name = '철수'
print(name)

name = '영희'
print(name)

철수
영희

In [ ]:
score

NameError: name 'score' is not defined

In [ ]:
2_name = '철수, 영희'

SyntaxError: invalid decimal literal (<ipython-input-4-6219591350ef>, line 1)

In [ ]:
a = 11
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
7
44
2.75
2
3
14641

In [ ]:
a = 11
b = 4

print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [ ]:
A = 3
B = [1,3,5,7,9]

print(A in B)
print(A not in B)

True
False

In [ ]:
PI = 3.14
5.5 * 5.5 * PI

94.985

In [ ]:
a = 10*4*(1/2)
b = 9 * 5 * (1/2)
print(a==b)

False

In [ ]:
92 * 4 - 95 -88-90

95

In [ ]:
a = 3

if a==5:
  print('right')
  print('a is 5')
if a ==3:
  print('right')
  print('a is 3')
if a !=3:
  print('right')
  print('a is not 3')

right
a is 3

In [ ]:
a = 5
if a < 5:
  print('a is smller than 5')
elif a > 5:
  print('a i larger than 5')
else:
  print('a is 5')

a is 5

In [ ]:
a= 5
i=1
while i <=9:
  print(str(a) + 'X' + str(i) + '=' + str(a*i))
  i = i+1

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45

In [ ]:

print('음료목록 :  1.오렌지주스(100원), 2.커피(200원),3.콜라(300원)')
coin = int(input('돈을 넣어주세요'))
drink = int(input('음료를 선택해주세요'))

if drink == 1:
  if coin >= 100:
    remain = coin - 100
    print('오렌지주스가 곧 제공됩니다.')
    print('거스름 돈은 ()입니다.', format(remain))
  else :
    print('잔액이 부족합니다')
elif drink == 2:
  if coin >= 200:
    remain = coin - 200
    print('커피가 곧 제공됩니다.')
    print('거스름 돈은 ()입니다.', format(remain))
  else :
    print('잔액이 부족합니다')
elif drink == 3:
  if coin >= 300:
    remain = coin - 300
    print('커피가 곧 제공됩니다')
    print('거스름 돈은 ()입니다', format(remain))
else :
  print('잘못된 선택입니다')

음료목록 :  1.오렌지주스(100원), 2.커피(200원),3.콜라(300원)
돈을 넣어주세요9879879879879798797
음료를 선택해주세요56
잘못된 선택입니다

In [ ]:
tuple1 = 1,2,3,4,5
tuple2 = ('가','나','다','라','마')
tuple3 = '파이썬', 1000, False
tuple4 = '파이썬', (10000, '만큼', '어려워'), False

print(tuple1, type(tuple1))
print(tuple2, type(tuple2))
print(tuple3, type(tuple3))
print(tuple4, type(tuple4))

(1, 2, 3, 4, 5) <class 'tuple'>
('가', '나', '다', '라', '마') <class 'tuple'>
('파이썬', 1000, False) <class 'tuple'>
('파이썬', (10000, '만큼', '어려워'), False) <class 'tuple'>

In [ ]:
tuple1 = 1,2,3,4,5
tuple1[2] = 100
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1=1,2,3,4,5
print(len(tuple1))

5

In [ ]:
set1 = {1,2,3,'가','나','다', 1,2}
set2 = set([1,2,3,'가','나','다', 1,2])
set3 = set([1,2,3,'가','나','다', 3])

print(set1, type(set1))
print(set2, type(set2))
print(set3, type(set3))

{1, '다', 2, 3, '가', '나'} <class 'set'>
{1, 2, 3, '가', '다', '나'} <class 'set'>
{1, 2, 3, '가', '다', '나'} <class 'set'>

In [ ]:
from sys import set_coroutine_origin_tracking_depth
set1 ={1,2,3, '가','나','다'}
set1.add('추가')
print(set1)

set1.remove('가')
print(set1)

set_copy_1 =set1.copy()
print(set_copy_1)

set_copy_1.clear()
print(set_copy_1)

{1, '다', 2, 3, '가', '추가', '나'}
{1, '다', 2, 3, '추가', '나'}
{1, '다', 2, 3, '추가', '나'}
set()

In [ ]:
list1 = [1,2,3,4,5,1,3]
list2 = []
print(list1)
print(list2)
print(len(list1))

list1[3] = 9999
print(list1)
list1.append(100)
print(list1)
list1.insert(0,777)
print(list1)
list2=list1.copy()
print(list2)

[1, 2, 3, 4, 5, 1, 3]
[]
7
[1, 2, 3, 9999, 5, 1, 3]
[1, 2, 3, 9999, 5, 1, 3, 100]
[777, 1, 2, 3, 9999, 5, 1, 3, 100]
[777, 1, 2, 3, 9999, 5, 1, 3, 100]

In [ ]:
list1 = ['양배추']
print('1:보관 식재료 출력','2:식재료 추가','3:식재료삭제','4:식재료변경','5:종료')
menu = int(input('메뉴를 선택해주세요 : '))
if menu == 1 :
  print(list1)

elif menu == 2 :
  add = input('추가할 식재료를 입력해주세요 : ')
  list1.append(add)
  print(list1)

elif menu == 3 :
  remove = input('삭제할 식재료를 입력해주세요 : ')
  list1.remove(remove)
  print(list1)

elif menu == 4 :
  change = input('변경할 식재료를 입력해주세요 : ')
  list1.remove(change)
  add = input('추가할 식재료를 입력해주세요 : ')
  list1.append(add)
  print(list1)

elif menu == 5 :
  print('종료')

else :
  print('잘못된 선택입니다')

1:보관 식재료 출력 2:식재료 추가 3:식재료삭제 4:식재료변경 5:종료
메뉴를 선택해주세요 : 1
['양배추']